/*
 */

body {
  padding-top: 54px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

a {
    color: #0088CC;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

footer {
  background-color: #183642;
  color: #8FAEC1;
}

nav {
  background-color: #183642;
  color: #8FAEC1;
}

/* change the brand and text color */
.navbar .navbar-brand,
.navbar .navbar-text {
    color: #8FAEC1;
}
/* change the link color */
.navbar-nav .nav-item .nav-link {
    color: #8FAEC1;
}
/* change the color of active or hovered links */
.navbar-nav .nav-item.active .nav-link {
    color: white;
}
.navbar-nav .nav-item:hover .nav-link {
    color: white;
}